<% layout('./boilerplate') -%>

<style media="screen">
  .selectize-dropdown [data-selectable] {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .item {
    background-image: none !important;
    background-color: #009150 !important;
    border: 1px solid #007F5F !important;
    border-radius: 0.25rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
</style>

<div>
  <p>Class Title: <%= foundClass.title %></p>
  <a href="/dashboard/<%= foundClass._id %>/edit">Edit Class</a> <br/>
  <a href="/dashboard/<%= foundClass._id %>/new-game">New Game</a> <br/>

  <div class="my-8">
    <h5>Teacher:</h5>
    <%= teacher.username %> - <%= teacher.email %>
  </div>

  <div class="my-8">
    <h5>Students in class:</h5>
    <ul>
      <% studentsInClass.forEach(function(student) { %>
        <li> <%= student.name %> - <%= student.email %></li>
      <% }) %>
    </ul>
  </div>

  <div class="my-8">
    <h5>Games:</h5>
    <ul>
      <% games.forEach(function(game) { %>
        <li> <%= game.title %> - <%= game.teams %> teams</li>
        <a href="/dashboard/<%= foundClass._id %>/<%= game._id %>">View game</a>
        <form action="/dashboard/<%= foundClass._id %>/<%= game._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
      <% }) %>
    </ul>
  </div>

  <form class="mt-8" action="/dashboard/<%= foundClass._id %>/add-student?_method=PUT" method="POST">
    <div class="control-group">
      <select id="selectize" name="addedStudents" multiple placeholder="Add students to class...">
        <% studentsNotInClass.forEach(function(student) { %>
          <option value="<%= student.id %>"><%= student.name %> - <%= student.email %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit">Add Students</button>
  </form>
</div>

<script type="text/javascript">
  $('#selectize').selectize();
</script>
